
@{
}
<div class="fancy"><span></span></div>
<h2 style="color: black; text-align: center;">PROJECTS</h2>
<section class="cards-wrapper">
    <div class="card-grid-space">
        <a class="card" href="https://maximusi.com/home" style="background-image: url('/images/maximusi.png'); background-size: contain; background-repeat: no-repeat;">
            <div>
                <p>Used: PHP</p>
                <div class="date">MAY 2021</div>
                <div class="tags">
                    <div class="tag">Maximusi</div>
                </div>
            </div>
        </a>
    </div>
    <div class="card-grid-space" id="projects">
        <a class="card" href="https://github.com/agonisbytyqi" style="background-image: url('/images/edukids.png');  background-repeat: no-repeat;">
            <div>
                <p>Used: ASP.NET, SQL</p>
                <div class="date">JAN 2022</div>
                <div class="tags">
                    <div class="tag">EduKids</div>
                </div>
            </div>
        </a>
    </div>
    <div class="card-grid-space">
        <a class="card" href="https://github.com/agonisbytyqi" style="background-image: url('/images/kostourtrip.png');">
            <div>
                <p>Used: ASP.NET, REACT.JS, SQL</p>
                <div class="date">AUG 2021</div>
                <div class="tags">
                    <div class="tag">Travel WebApp</div>
                </div>
            </div>
        </a>
    </div>
    <div class="card-grid-space">
        <a class="card" href="https://maximusi.com/home" style="background-image: url('/images/maximusi.png'); background-size: contain; background-repeat: no-repeat;">
            <div>
                <p>Used: PHP</p>
                <div class="date">MAY 2021</div>
                <div class="tags">
                    <div class="tag">Maximusi</div>
                </div>
            </div>
        </a>
    </div>
</section>